/**
 * Variables
 */
:root {
    --text-font: 'Inter', sans-serif;
    --banner-background: #83D4F9;
    --button-background: #F9EC61;
    --receiver-chat-background: #C0E9FC;
    --field-background: #EEEEEE;
    --prompt-text: #ADABAB;

}
/*.container {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*}*/

/*Heading*/

.col-12{
    background-color: var(--banner-background);
}
.row{
    color:black;
}

.col-12 h1 {
    margin-left: 100px;
    line-height:80px;

}

.header:visited {
    text-decoration: none;
    color: black;
}

.header:link {
    text-decoration: none;
    color: black;
}

.button-main {
    width: 130px;
    height: 40px;
    background-color: #F9EC61;
    text-align: center;
    font: icon;
}

.button-main:hover {
    box-shadow: 0 5px lightgrey;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Inter, sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.tiles {
    /*background-color: red;*/
    display: flex; /* Set tiles container to be a flex container */
    margin-top: 15px;

}

.tile {
    margin-left: 100px;
    flex: 0 0 200px; /* Set fixed width and height for tiles */
    background-color: var(--button-background);
    text-align: center;

}
.tile h2{
    vertical-align: middle;
    line-height:280px;
}

/*Sidebar*/
@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }
}

.tile-blue {
    cursor: pointer;
    width: 25%;
    height: 250px;
    padding: 10px;
    background: #83D4F9;
    color: #000000;
    font-size: 30px;
    font-family: Inter, sans-serif;
    text-align: left;
    border-radius: 4px;
    margin: 30px;
}

.tile:hover {
    text-shadow: 2px 2px 4px darkgrey;
    box-shadow: 10px 10px 5px black;
}

.tile-blue:hover {
    text-shadow: 2px 2px 4px darkgrey;
    box-shadow: 10px 10px 5px black;
}

.tile-line {
    background: black;
    color: black;
    height: 4px;
    border: none;
}

.tile-line:hover {
    box-shadow: 2px 2px 4px darkgrey;
}

.big-icon {
    font-size: 180px;
}

/* kein plan was vo dem brucht wird und was ned ===================*/

.current-Page {
    height: 80px;
    width: auto;
    background-color: lightgray;
    padding: 5px;

}

.close {
    right: 32px;
    top: 125px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* UPLOAD PAGE ===================*/
.Upload-Container {
    background-color: white;
    height: auto;
}

/*row*/
.Upload-Container-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

/*column*/
.Upload-Container-column1 {
    margin-left: 100px;
    border: black;
    height: auto;
}

.Upload-Container-column1 label {
    padding-left: 10px;
}

.Upload-Container-column2 {
    margin-right: 100px;
    padding: 16px;
    border: black;
    height: auto;
    background-color: white;

}

.Input-box {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-menu {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 12px;
    border-radius: 50%;
    background-color: #83D4F9;
}

.btn-menu:hover {
    background-color: #a7e0fb
}

.btn-menu:active {
    background-color: #a7e0fb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/**
Request
 */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 18px;
    padding-top: 20px;
}

.form label {
    font-size: 14px;
    margin-right: 100px;
}

.form h3 {
    color: #83D4F9;
    margin: 5px 455px 0px 0px;
}

.form button {
    margin-top: 20px;
}

.input-box-request {
    resize: none;
    width: 585px;
    height: 200px;
    font: icon;
    font-size: 16px;
    background-color: #f1f1f1;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: #666666;
    padding: 10px;
}

.input-box-email {
    width: 585px;
    height: 60px;
    font: icon;
    font-size: 16px;
    background-color: #f1f1f1;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: #666666;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 20px 5px 20px;
}

/**
Homepage
 */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    flex-direction: row;
    flex-grow: 1;
    justify-content: start;
}


/**
Dropbox NEW
 */
/*.col-md-4{*/
/*    background-color: red;*/
/*}*/
/*.col-md-8{*/
/*    background-color: #F9EC61;*/
/*}*/
.dropArea {
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 60px 0;
    margin: 20px;

}

.dropArea i {
    font-size: 3em;
    color: var(--banner-background);
}

.dropArea h2 {
    margin-top: 10px;
    color: var(--banner-background);

}
.file-upload-wrapper{
    margin-left: 20px;
}
/**
About
 */
.about {
    margin-bottom: 5px;
    display: grid;
    background-color: white;
    padding-left: 20px;
}

.about button {
    margin-top: 20px;
}

.ddInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-wrap {
    text-align: center;
    overflow: auto;
}

/** navbar content styling* =======================================/
/* Position and sizing of burger button */


.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #373a47;
}

.nav-line {
    background: black;
    color: black;
    height: 4px;
    border: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    left: 250px;
    top: 100px;
    height: 24px;
    width: 24px;
    opacity: 1;
}

.bm-cross-button:hover {
    left: 250px;
    top: 100px;
    height: 24px;
    width: 24px;
    opacity: 3;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #373a47;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #ffffff;
    padding: 3em 1.5em 0;
    font-size: 1.15em;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #83D4F9;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    text-decoration: none;
    font-size: x-large;

}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

