/**
 * Variables
 */
:root {
    font-family: 'Inter', sans-serif;
    --blue: #83D4F9;
    --yellow: #F9EC61;
    --light-blue: #C0E9FC;
    --field-background: #EEEEEE;
    --grey: #ADABAB;

}

.main-button, .responsive-button {
    position: relative;
    width: 130px;
    height: 40px;
    background-color: var(--yellow);
    color: black;
    border: solid 1px black;
    border-radius: 3px;
    font-weight: normal;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
}

.main-button:hover, .responsive-button:hover {
    box-shadow: 2px 2px 3px #333;
    font-weight: bold;
}

/*Heading*/

.col-12 h1 {
    font-size: 30px;
    line-height: 60px;
}

.col-12 span {
    line-height: 60px;
    font-size: 30px;
    cursor: pointer;
}

.heading-2 {
    /*50px*/
    margin-left: 3.125rem;
}

.heading-1 {
    /*23.05px*/
    margin-left: 1.441rem;
}

/*Homepage*/

.homepage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
    .homepage{
        margin: initial;
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
    }
    .row{
        margin-top: 3rem;
    }
}
.my-card {
    width: 400px;
    height: 500px;
    font-size: 120%;
}

.card {
    width: 220px;
    height: 220px;
    background-color: var(--yellow);
    min-width: 220px;
}

.card-title + hr {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-footer {
    color: black;
}

a, a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml-6 {
    margin-left: 3.125rem;
}

/*Sidebar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    color: var(--grey);
    position: absolute;
    right: 0;
    font-size: 50px;

}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* kein plan was vo dem brucht wird und was ned ===================*/


.close {
    right: 32px;
    top: 125px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* UPLOAD PAGE ===================*/

/*Form*/

input:hover::placeholder,
input:focus::placeholder {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.form-group label {
    opacity: 0;
    transition: opacity 0.5s;
    position: relative;
    top: -70px;
}

.form-control:hover ~ label + label[for=email],
.form-control:focus ~ label + label[for=email],
.form-group input:not(:invalid) + label,
.form-group label.active {
    opacity: 1;
}

.responsive-button {
    display: none;
}

@media (max-width: 767px) {
    .responsive-button {
        display: block;
        position: relative;
        pointer-events: all;
    }

    .main-button {
        display: none;
    }
}

/*Form ------------------END*/

/*Drag AND DROP*/

.dropArea {
    cursor: pointer;
    border: 4px dashed var(--blue);
    border-radius: 5px;
    text-align: center;
    padding: 60px 0;
    margin: 0px;
}

.dropArea:hover {
    background-color: rgb(131, 212, 249, 0.5);
}

.dropArea h2 {
    margin-top: 10px;
    color: var(--blue);
    font-weight: bold;
}

.file-upload-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Drag AND DROP -----------END*/

/**
Request
 */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.form label {
    text-align: left;
    margin-bottom: 8px;
}

.form input,
.form textarea {
    width: 50%; /* Makes the input and textarea fields take up half of the width of their parent container */
    margin: 0 auto; /* Centers the input and textarea fields horizontally */
}

.form h3 {
    color: #83D4F9;
    margin: 5px 455px 0px 0px;
}

.form button {
    margin-top: 20px;
}


/**
About
 */
.about {
    margin-bottom: 5px;
    display: grid;
    background-color: white;
    padding-left: 20px;
}

.about button {
    margin-top: 20px;
}


.page-wrap {
    text-align: center;
    overflow: auto;
}

