/**
 * Variables
 */
:root {
    font-family: Verdana, sans-serif;
    --blue: #83D4F9;
    --yellow: #F9EC61;
    --light-blue: #C0E9FC;
    --field-background: #EEEEEE;
    --grey: #ADABAB;
}

p,li, .form label{
    font-size: 20px;
}


.main-button, .responsive-button {
    font-size: 18px;
    position: relative;
    width: 198px;
    height: 45px;
    background-color: var(--yellow);
    color: black;
    border: solid 1px black;
    border-radius: 3px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
}

.main-button:hover, .responsive-button:hover {
    background: rgba(248, 231, 58, 0.8);
    border: 1px solid #000000;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
}

/*Heading*/

.col-12 h1,
.heading-2 {
    font-size: 30px;
    line-height: 60px;
}

.col-12 span {
    line-height: 60px;
    cursor: pointer;
}

.heading-2,
.heading-5{
    /*50px*/
    margin-left: 3.125rem;
}


.heading-1 {
    /*23.05px*/
    margin-left: 1.441rem;
}

a, a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*HOMEPAGE====================*/
.card {
    width: 280px;
    height: 280px;
    background-color: var(--yellow);
    margin: 20px;
}

.card:hover {
    filter: drop-shadow(-20px 20px 4px rgba(0, 0, 0, 0.25));
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.card-body hr {
    border: 1px solid black;
}

.card-title {
    font-size: 24px;
}

iconify-icon {
    position: relative;
    font-size: 150px;
}

.icon-container {
    position: relative;
    min-height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card footer {
    position: relative;
    text-align: right;
    padding-right: 1.5rem;
    margin-bottom: 3px;

}

/*mobile*/
@media screen and (max-width: 576px) {
    .card {
        height: 250px;
        width: 250px;
    }

    .card-title {
        font-size: 21px;
    }

    .icon-container {
        min-height: 15vh;

    }

    iconify-icon {
        font-size: 100px;
    }

    .card footer {
        margin-bottom: 3px;
    }

}

/*for Extra large devices*/
@media screen and (min-width: 1700px) {
    .card {
        height: 350px;
        width: 350px;

    }

    .card-title {
        font-size: 26px;
    }

    .icon-container {
        min-height: 23vh;
    }

    iconify-icon {
        font-size: 170px;
    }

    .card footer {
        margin-bottom: 1rem;
    }

}

/*HOMEPAGE====================END*/

/*Sidebar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--blue);
    background: #333333;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;

}

.closebtn {
    color: var(--grey);
    position: absolute;
    right: 0;
    font-size: 50px;

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.close {
    right: 32px;
    top: 125px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

/* UPLOAD PAGE ===================*/
/*Form*/
.form-group input:hover::placeholder,
.form-group input:focus::placeholder,
.form input:hover::placeholder {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.form-group input {
    background: var(--field-background);
    border: 1px solid #000000;
    border-radius: 5px;
}

.form-group label {
    opacity: 0;
    transition: opacity 0.5s;
    position: relative;
    top: -70px;
}

.form-control:hover ~ label + label[for=email],
.form-control:focus ~ label + label[for=email],
.form-group input:not(:invalid) + label,
.form-group label.active,
.form-group input:hover + label {
    opacity: 1;
}


.responsive-button {
    display: none;
}

@media (max-width: 767px) {
    .responsive-button {
        display: block;
        position: relative;
        pointer-events: all;
    }

    .upload button {
        display: none;
    }
}

/*Form ------------------END*/
/*Drag AND DROP*/
.dropArea {
    cursor: pointer;
    border: 4px dashed var(--blue);
    border-radius: 5px;
    text-align: center;
    padding: 60px 0;
    margin: 0px;
}

.dropArea:hover {
    background-color: rgb(131, 212, 249, 0.5);
}

.dropArea h2 {
    margin-top: 10px;
    color: var(--blue);
    font-weight: bold;
}

.file-upload-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Drag AND DROP -----------END*/

/**
-----------------------Request
 */
.form label {
    display: block;
    text-align: left;
}

.form input {
    height: 40px;
    font-size: 1rem;
    background: var(--field-background);
    border: 1px solid #000000;
    border-radius: 5px;
}

.form h3 {
    color: var(--blue);
    margin: 5px 455px 0px 0px;
}

.form button {
    margin-top: 20px;
}

.request-area,
.form input {
    background: var(--field-background);
    border: 1px solid #000000;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
}

.request-area {
    width: 100%;
    height: 212px;
}

.request-area::placeholder {
    font-size: 1rem;
}

.d-inline-block {
    display: inline-block;
}

/*Mobile*/
@media screen and (max-width: 576px) {
    .form input {

    }

}

/* CHAT PAGE ===================*/

.message-container,
.skillContainer {
    display: flex;
    position: relative;
    border-radius: 5px;
    height: auto;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 60%;

}

#chat1 {
    background-color: rgba(131, 212, 249, 0.51);
}

#chat2 {
    background-color: var(--field-background);
}

@media (min-width: 834px) {
    .chat {
        margin-right: 20%;
        margin-left: 20%;
    }
}

@media (max-width: 576px) {
    p {
        font-size: 1.2rem;
    }

    .heading-2 {
        font-size: 2rem;
    }

    .message-container {
        margin-right: 1em;
        margin-left: 1em;
    }
}

/* Profil PAGE ===================*/
.skills{
    margin-left: 45px;
}
.socials{
    margin-right: 60px;
}
.profilList{
    margin-left: 50px;
}
.skillContainer {
    border-radius: 5px;
    padding: 0 5px;
    height: 45px;
    width: auto;
    background-color: var(--field-background);
    border: 1px solid #000000;
    margin: 0 5px 5px;
}
.skillContainer p{
    font-size: 18px;
    line-height: 45px;
}
@media (max-width: 665px) {
    .skillContainer p{
        font-size: 17px;
    }
}
@media (min-width: 665px) {
  .profil{
      width: 100%;
  }
}

.socials ul{
    list-style-type:none;
    padding-left:0;
    font-size: 20px;
}



