/**
 * Variables
 */
:root {
    font-family: 'Inter', sans-serif;
    --banner-background: #83D4F9;
    --button-background: #F9EC61;
    --receiver-chat-background: #C0E9FC;
    --field-background: #EEEEEE;
    --prompt-text: #ADABAB;

}

/*Heading*/

.col-12{
    background-color: var(--banner-background);
}
.row{
    color:black;
}

.col-12 h1 {

}

.header:visited {
    text-decoration: none;
    color: black;
}

.header:link {
    text-decoration: none;
    color: black;
}

button {
    width: 130px;
    height: 40px;
    background-color: #F9EC61;
    text-align: center;
    font: icon;
    margin-top: 15px;
}

button:hover {
    box-shadow: 0 5px lightgrey;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Inter, sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.tiles {
    /*background-color: red;*/
    display: flex; /* Set tiles container to be a flex container */
    margin-top: 15px;

}

.tile {
    margin-left: 100px;
    flex: 0 0 200px; /* Set fixed width and height for tiles */
    background-color: var(--button-background);
    text-align: center;

}
.tile h2{
    vertical-align: middle;
    line-height:280px;
}

/*Sidebar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.tile-blue {
    cursor: pointer;
    width: 25%;
    height: 250px;
    padding: 10px;
    background: #83D4F9;
    color: #000000;
    font-size: 30px;
    font-family: Inter, sans-serif;
    text-align: left;
    border-radius: 4px;
    margin: 30px;
}

.tile:hover {
    text-shadow: 2px 2px 4px darkgrey;
    box-shadow: 10px 10px 5px black;
}

.tile-blue:hover {
    text-shadow: 2px 2px 4px darkgrey;
    box-shadow: 10px 10px 5px black;
}

.tile-line {
    background: black;
    color: black;
    height: 4px;
    border: none;
}

.tile-line:hover {
    box-shadow: 2px 2px 4px darkgrey;
}

.big-icon {
    font-size: 180px;
}

/* kein plan was vo dem brucht wird und was ned ===================*/

.current-Page {
    height: 80px;
    width: auto;
    background-color: lightgray;
    padding: 5px;

}

.close {
    right: 32px;
    top: 125px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* UPLOAD PAGE ===================*/
.Upload-Container {
    background-color: white;
    height: auto;
}

/*row*/
.Upload-Container-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

/*column*/
.Upload-Container-column1 {
    margin-left: 100px;
    border: black;
    height: auto;
}

.Upload-Container-column1 label {
    padding-left: 10px;
}

.Upload-Container-column2 {
    margin-right: 100px;
    padding: 16px;
    border: black;
    height: auto;
    background-color: white;

}

.Input-box {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-menu {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 12px;
    border-radius: 50%;
    background-color: #83D4F9;
}

.btn-menu:hover {
    background-color: #a7e0fb
}

.btn-menu:active {
    background-color: #a7e0fb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/**
Request
 */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.form label {
    text-align: left;
    margin-bottom: 8px;
}
.form input,
.form textarea {
    width: 50%; /* Makes the input and textarea fields take up half of the width of their parent container */
    margin: 0 auto; /* Centers the input and textarea fields horizontally */
}
.form h3 {
    color: #83D4F9;
    margin: 5px 455px 0px 0px;
}

.form button {
    margin-top: 20px;
}

/*.input-box-request {*/
/*    resize: none;*/
/*    width: 585px;*/
/*    font: icon;*/
/*    font-size: 16px;*/
/*    background-color: #f1f1f1;*/
/*    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);*/
/*    border: #666666;*/
/*    padding: 10px;*/
/*}*/

/*.input-box-email {*/
/*    display: block;*/
/*    width: 80%;*/
/*    height: 60px;*/
/*    font: icon;*/
/*    font-size: 16px;*/
/*    background-color: #f1f1f1;*/
/*    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);*/
/*    border: #666666;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    margin: 5px 20px 5px 20px;*/
/*}*/

/**
Homepage
 */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    flex-direction: row;
    flex-grow: 1;
    justify-content: start;
}


/**
Dropbox NEW
 */
/*.col-md-4{*/
/*    background-color: red;*/
/*}*/
/*.col-md-8{*/
/*    background-color: #F9EC61;*/
/*}*/
.dropArea {
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 60px 0;
    margin: 20px;

}

.dropArea i {
    font-size: 3em;
    color: var(--banner-background);
}

.dropArea h2 {
    margin-top: 10px;
    color: var(--banner-background);

}
.file-upload-wrapper{
    margin-left: 20px;
}
/**
About
 */
.about {
    margin-bottom: 5px;
    display: grid;
    background-color: white;
    padding-left: 20px;
}

.about button {
    margin-top: 20px;
}


.page-wrap {
    text-align: center;
    overflow: auto;
}

