/**
 * Variables
 */
:root {
    font-family: 'Inter', sans-serif;
    --blue: #83D4F9;
    --yellow: #F9EC61;
    --light-blue: #C0E9FC;
    --field-background: #EEEEEE;
    --grey: #ADABAB;

}

/*Heading*/

.col-12 h1 {
    font-size: 30px;
    line-height: 60px;
}
/*burgermenu*/
.col-12 span{
    line-height: 60px;
    font-size:30px;
    cursor:pointer;
}

.heading-2 {
    margin-left: 50px;
}
.heading-1{
    margin-left: 23.05px;
}

button {
    width: 130px;
    height: 40px;
    background-color: #F9EC61;
    text-align: center;
    font: icon;
    margin-top: 15px;
}

button:hover {
    box-shadow: 0 5px lightgrey;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Inter, sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card {
    width: 220px;
    height: 220px;
    background-color: yellow;
    min-width: 220px;
}

.card-title + hr {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-footer {
    color: black;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:link, a:active {
    text-decoration: none;
    color: black;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Sidebar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    color: var(--grey);
    position: absolute;
    right: 0;
    font-size: 50px;

}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.tile:hover {
    text-shadow: 2px 2px 4px darkgrey;
    box-shadow: 10px 10px 5px black;
}

.tile-blue:hover {
    text-shadow: 2px 2px 4px darkgrey;
    box-shadow: 10px 10px 5px black;
}

.tile-line {
    background: black;
    color: black;
    height: 4px;
    border: none;
}

.tile-line:hover {
    box-shadow: 2px 2px 4px darkgrey;
}

.big-icon {
    font-size: 180px;
}

/* kein plan was vo dem brucht wird und was ned ===================*/


.close {
    right: 32px;
    top: 125px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* UPLOAD PAGE ===================*/
.Upload-Container {
    background-color: white;
    height: auto;
}

/*row*/
.Upload-Container-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

/*column*/
.Upload-Container-column1 {
    margin-left: 100px;
    border: black;
    height: auto;
}

.Upload-Container-column1 label {
    padding-left: 10px;
}

.Upload-Container-column2 {
    margin-right: 100px;
    padding: 16px;
    border: black;
    height: auto;
    background-color: white;

}

.Input-box {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-menu {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 12px;
    border-radius: 50%;
    background-color: #83D4F9;
}

.btn-menu:hover {
    background-color: #a7e0fb
}

.btn-menu:active {
    background-color: #a7e0fb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/**
Request
 */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.form label {
    text-align: left;
    margin-bottom: 8px;
}

.form input,
.form textarea {
    width: 50%; /* Makes the input and textarea fields take up half of the width of their parent container */
    margin: 0 auto; /* Centers the input and textarea fields horizontally */
}

.form h3 {
    color: #83D4F9;
    margin: 5px 455px 0px 0px;
}

.form button {
    margin-top: 20px;
}

/**
Homepage
 */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    flex-direction: row;
    flex-grow: 1;
    justify-content: start;
}


.dropArea {
    cursor: pointer;
    border: 4px dashed var(--blue);
    border-radius: 5px;
    text-align: center;
    padding: 60px 0;
    margin: 20px;
    }

.dropArea h2 {
    margin-top: 10px;
    color: var(--blue);
    font-weight: bold;

}

.file-upload-wrapper {
    margin-left: 20px;
}

/**
About
 */
.about {
    margin-bottom: 5px;
    display: grid;
    background-color: white;
    padding-left: 20px;
}

.about button {
    margin-top: 20px;
}


.page-wrap {
    text-align: center;
    overflow: auto;
}

